@use '../../../styles/partials/_globals' as *;
@use '../../../styles/partials/__mixins' as *;
@use '../../../styles/partials/__variables' as *;

.video__image {
    width: 100%;
    background-color: $darkblack;

    @include tablet {
        height: 51.4vw;
        object-fit: scale-down;
    }
}