@use './__variables.scss' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

body {
    font-family: $font-stack;
    color: $black;
}

@font-face {
    src: url('/src/assets/fonts/AvenirNextLTPro-Regular.otf');
    font-family: 'Avenir Next Regular';
}