@use './__variables.scss' as *;


/* MEDIA QUERIES ------------------------------------------------ */
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}


/* TYPOGRAPHY --------------------------------------------------- */
// @mixin td-page-header {
//     line-height: 4.4rem;
//     font-size: 3.3rem;
//     font-weight: 700;
// }

// @mixin td-section-header {
//     line-height: 2rem;
//     font-size: 1.2rem;
//     font-weight: 700;
// }

// @mixin td-subheader {
//     line-height: 2.2rem;
//     font-size: 1.4rem;
//     font-weight: 700;
// }

// @mixin td-body-copy {
//     line-height: 2.2rem;
//     font-size: 1.4rem;
//     font-weight: 400;
// }

// @mixin td-labels-btns {
//     line-height: 2rem;
//     font-size: 1.2rem;
//     font-weight: 700;  
//     font-family: $font-stack;
// }

// @mixin mobile-page-header {
//     line-height: 3.2rem;
//     font-size: 2.4rem;
//     font-weight: 700;
// }

// @mixin mobile-section-header {
//     line-height: 2rem;
//     font-size: 1.2rem;
//     font-weight: 700;
// }

// @mixin mobile-subheader {
//     line-height: 1.8rem;
//     font-size: 1.3rem;
//     font-weight: 700;
// }

// @mixin mobile-body-copy {
//     line-height: 1.8rem;
//     font-size: 1.3rem;
//     font-weight: 400;
// }

// @mixin mobile-labels-btns {
//     line-height: 2rem;
//     font-size: 1rem;
//     font-weight: 700;
//     font-family: $font-stack;
// }


@mixin page-header {
    line-height: 3.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.01em;

    @include tablet {
        line-height: 4.4rem;
        font-size: 3.3rem;
    }
}

@mixin section-header {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.01em;

    @include tablet {
        line-height: 2rem;
        font-size: 1.2rem;
    }
}

@mixin subheader {
    line-height: 1.8rem;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.01em;
    
    @include tablet {
        
    }
}

@mixin body-copy {
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.03em;

    @include tablet {
        line-height: 2.2rem;
        font-size: 1.3rem;
    }
}

@mixin labels-btns {
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: $font-stack;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    color: $silver;

    @include tablet {
        line-height: 2rem;
        font-size: 1.1rem;
    }
}


/* ELEMENTS ----------------------------------------------------- */
@mixin icon($text-clr) {
    color: $text-clr;
}

@mixin logo() {
    background-color: white;
    cursor: pointer;
}

@mixin cta($width) {
    @include labels-btns;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: $width;
    border-radius: 4px;
    border: none;
    padding: 1.4rem;
    background-color: $blue;
    line-height: 1; 
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    color: $white;
    
    & > img {
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 50%;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $darkblue;
    }

    @include tablet {
        padding: 1.2rem 1rem 0.8rem 1rem;
    }
}

@mixin field {
    border-radius: 4px;
    border: 1px solid $mercury;
    padding: 1.2rem;
    width: 100%;
    line-height: 1;
    font-size: 1.2rem;
    outline: none;
    font-family: $font-stack;
    color: $black;

    &::placeholder {
        font-size: 1.2rem;
        color: $black;
    }

    &:active,
    &:focus {
        border: 2px solid $blue;
    }

    &:invalid {
        border: 2px solid #D22D2D;
    }
}

@mixin divider {
    width: 100%;
    height: 1px;
    background-color: $mercury;
}

@mixin img {
    border-radius: 4px;
    background-color: $mercury;
    object-fit: cover;
}

@mixin avatar {
    border-radius: 50%;
    background-color: $mercury;
    width: 11.25vw;
    height: 11.25vw;
    object-fit: cover;
    object-position: left;

    @include tablet {
        width: 5.2vw;
        height: 5.2vw;
    }

    @include desktop {
        width: 3.25vw;
        height: 3.25vw;
    }
}