@use '../../../styles/partials/_globals' as *;
@use '../../../styles/partials/__mixins' as *;
@use '../../../styles/partials/__variables' as *;

.video-preview {
    @include body-copy;
    margin-top: 1.2rem;
    display: flex;
    gap: $mobile-gutter;


    &__image {
        border-radius: 4px;
        width: 31.25vw;
        height: 18.75vw;
        object-fit: cover;
    }

    &__text {
        width: 53%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.1rem;
    }

        &__title {
            font-weight: 600;
        }
}