@use '../../../../styles/partials/__variables.scss' as *;
@use '../../../../styles/partials/__mixins.scss' as *;
@use '../../../../styles/partials/__globals.scss' as *;

.video-stats {
    width: 100%;
    display: flex;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
    padding: $mobile-padding 0 1.4rem 0;

    @include tablet  {
        border-top: none;
        justify-content: space-between;
        padding: 0.6rem 0 0.6rem 0;
    }

    @include desktop {
        padding-right: 2.2rem;
    }

    &__section {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: $mobile-padding;

        @include tablet {
            flex-direction: row;
        }

        &:nth-of-type(2) {
            justify-content: flex-end;
        }
    }

        &__stat {
            @include body-copy;
            color: $silver;
            display: flex;
            align-items: center;
            gap: 0.8rem;

            &--channel {
                font-weight: 600;
                color: $black;

                @include tablet {
                    font-size: 1.3rem !important;
                    margin-left: 0 !important;
                }
            } 
          
            @include tablet {
                font-size: 1.2rem;
                margin-left: 1.6rem;
            }

            @include desktop {
                margin-left: 0.8rem;
            }
        }  
}