@use '../../../../styles/partials/__variables.scss' as *;
@use '../../../../styles/partials/__mixins.scss' as *;
@use '../../../../styles/partials/__globals.scss' as *;

.video-stats {
    width: 100%;
    display: flex;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
    padding: $mobile-padding 0 1.4rem 0;

    &__section {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: $mobile-padding;
    }

        &__stat {
            @include body-copy;
            color: $silver;
            display: flex;
            align-items: center;
            gap: 0.8rem;

            &--channel {
                font-weight: 600;
                color: $black;
            }
        }  
        
}