@use '../../styles/partials/_globals' as *;
@use '../../styles/partials/__mixins' as *;
@use '../../styles/partials/__variables' as *;

.next-videos {
    margin: 1.7rem 0 4rem 0;

    @include tablet {
        margin: 1.7rem 0 3.2rem 0;
    }

    @include desktop {
        display: inline-block;
        margin: 0;
        border-left: 2px solid $mercury;
        padding: 3.2rem 0 7rem 2.2rem;
        width: 28.4vw;
    }

    &__title {
        @include labels-btns;
        margin-bottom: 1.3rem;

        @include desktop {
            margin-bottom: 0;
        }
    }

    &__list {
        list-style: none;
    }
}