@use '../../styles/partials/_globals' as *;
@use '../../styles/partials/__mixins' as *;
@use '../../styles/partials/__variables' as *;

.next-videos {
    margin: 1.7rem 0;

    @include desktop {
        margin: 2.9rem 0 7rem 0;
    }

    &__title {
        @include labels-btns;
        margin-bottom: 1.3rem;

        @include desktop {
            margin-bottom: 0;
        }
    }

    &__list {
        list-style: none;
    }
}