@use '../../styles/partials/__variables.scss' as *;
@use '../../styles/partials/__mixins.scss' as *;
@use '../../styles/partials/__globals.scss' as *;

.header {
    display: grid;
    grid-template-areas:'logo logo' 
                        'search avatar'
                        'upload upload';
    align-items: center;
    margin: 0 $mobile-margin;

    &__logo {
        @include logo;
        grid-area: logo;
        margin: 0.8rem auto 1.6rem auto;
        width: 37%;
    }

    &__search-bar {
        grid-area: search;
        position: relative;
        flex: 1;
      
    }

        &__search-field {
            @include field;
            
            padding: 1em 1em 1em 3.6rem;
        }

        &__search-icon {
            position: absolute;
            top: 1em;
            left: 1em;
            height: 50%;
        }

    &__avatar {
        @include avatar;
        grid-area: avatar;
        margin: 0;
    }

    &__upload-btn {
        @include cta(90%, 100%);
        grid-area: upload;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    &__upload-icon {
        justify-self: flex-start;
    }
}
