@use '../../styles/partials/__variables.scss' as *;
@use '../../styles/partials/__mixins.scss' as *;
@use '../../styles/partials/__globals.scss' as *;

.header {
    display: grid;
    grid-template-areas:'logo logo' 
                        'search avatar'
                        'upload upload';
    grid-template-columns: 1fr min-content;
    gap: $mobile-padding;
    align-items: center;
    margin: 0 $mobile-margin;

    @include tablet {
        grid-template-areas: 'logo search upload avatar';
        grid-template-columns: 28% 35% 1fr min-content;
        gap: 2rem;
        padding-top: $mobile-margin;
        margin: 0 $tablet-margin;
    }

    &__logo {
        @include logo;
        grid-area: logo;
        margin: 1rem auto 0 auto;
        width: 37%;

        @include tablet {
            margin: 0;
            width: 60%;
            height: 100%;
        }
    }

    &__search-bar {
        grid-area: search;
        position: relative;
        margin: 0;

        @include tablet {
            width: 100%;
        }
    }

        &__search-field {
            @include field;
            padding: 1.1rem 0.8rem 0.9rem 3.6rem;
        }

        &__search-icon {
            position: absolute;
            top: 1em;
            left: 1em;
            height: 50%;
        }

    &__avatar {
        @include avatar;
        grid-area: avatar;
        margin: 0;
    }

    &__upload-btn {
        @include cta(100%);
        grid-area: upload;
    }
}
