@use '../../../styles/partials/__variables.scss' as *;
@use '../../../styles/partials/__mixins.scss' as *;
@use '../../../styles/partials/__globals.scss' as *;

.new-comment {
    display: flex;
    gap: $mobile-margin;

    &__user-avatar {
        @include avatar;
        margin-top: 2rem;
    }

    &__right-subsection {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__label {
        @include labels-btns;
        width: 100%;
        display: block;
    }

    &__text {
        @include field;
        margin: 0rem 0 0.9rem 0;
        width: 100%;
        height: 29vw;
    }

    &__btn {
        @include cta(100%);
    }

}


/*
<"new-comment">
            <"new-comment__user-avatar"/>
            <"new-comment__right-subsection">
                <"new-comment__label">
                <"new-comment__text"<
               "new-comment__btn">
                    "new-comment__icon"/>

                */