/* COLOURS ------------------------------------------------------ */
/* LAYOUT ------------------------------------------------------- */
/* TYPOGRAPHY --------------------------------------------------- */
/* MEDIA QUERIES ------------------------------------------------ */
/* TYPOGRAPHY --------------------------------------------------- */
/* ELEMENTS ----------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Avenir Next", Arial, Verdana, sans-serif;
  color: #323232;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
.new-comment {
  display: flex;
  gap: 1.6rem;
}
@media (min-width: 1280px) {
  .new-comment {
    padding-right: 2.2rem;
  }
}
.new-comment__user-avatar {
  border-radius: 50%;
  background-color: #E1E1E1;
  width: 11.25vw;
  height: 11.25vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .new-comment__user-avatar {
    width: 5.2vw;
    height: 5.2vw;
  }
}
@media (min-width: 1280px) {
  .new-comment__user-avatar {
    width: 3.25vw;
    height: 3.25vw;
    margin-left: 1rem;
    margin-right: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .new-comment__user-avatar {
    margin-left: 1rem;
  }
}
.new-comment__right-subsection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .new-comment__right-subsection {
    flex-direction: row;
  }
}
.new-comment__label {
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Avenir Next", Arial, Verdana, sans-serif;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: #AFAFAF;
  margin: 0rem 0 0.9rem 0;
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .new-comment__label {
    line-height: 2rem;
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .new-comment__label {
    margin: 0 2.3rem 0.9rem 0.5rem;
  }
}
.new-comment__text {
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  padding: 1.2rem;
  width: 100%;
  line-height: 1;
  font-size: 1.2rem;
  outline: none;
  font-family: "Avenir Next", Arial, Verdana, sans-serif;
  color: #323232;
  width: 100%;
  height: 29vw;
}
.new-comment__text::-moz-placeholder {
  font-size: 1.2rem;
  color: #323232;
}
.new-comment__text::placeholder {
  font-size: 1.2rem;
  color: #323232;
}
.new-comment__text:active, .new-comment__text:focus {
  border: 2px solid #0095FF;
}
.new-comment__text:invalid {
  border: 2px solid #D22D2D;
}
@media (min-width: 768px) {
  .new-comment__text {
    height: 5.2vw;
    padding-top: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .new-comment__text {
    height: 3.2vw;
  }
}
.new-comment__btn {
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Avenir Next", Arial, Verdana, sans-serif;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: #AFAFAF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 1.4rem;
  background-color: #0095FF;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .new-comment__btn {
    line-height: 2rem;
    font-size: 1.1rem;
  }
}
.new-comment__btn > img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 50%;
}
.new-comment__btn:hover, .new-comment__btn:focus, .new-comment__btn:active {
  background-color: #0065AD;
}
@media (min-width: 768px) {
  .new-comment__btn {
    padding: 1.2rem 1rem 0.8rem 1rem;
  }
}
@media (min-width: 768px) {
  .new-comment__btn {
    margin-top: 2rem;
    height: -moz-min-content;
    height: min-content;
    width: 33%;
  }
}/*# sourceMappingURL=NewComment.css.map */